<html>
    <head>
        <title>Kira's blog</title>
    </head>
    <body>
    	<div>
    		<h1><a href="/">Where the wild things are</a></h1>
    		<h1>I CAN DO MAGIC! Fear me, laws of physics, I'm coming to violate you!</h1>
    	</div>
    	<div>
    		<h2><a href="">My first post</a></h2>
            <p>One fish, two fish</p>
            <p>published: 28.07.2018, 16:14</p>
        </div>
        <div>
        	<h2><a href="">My second post</a></h2>
            <p>Green fish, blue fish</p>
            <p>published: 28.07.2018, 16:18</p>
        </div>
        <a href="http://thelovingstranger.com">My actual website</a>
    </body>
</html>
